.login-form-form2 {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-welcome-text2 {
    background-color: white;
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-form-buttons2 {
    background: none;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
    transition: color .4s linear;
    text-transform: uppercase;
    width: 12rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.delete-form-buttons2:hover {
    background-color: white;
    color: black;
    transition: color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
