* {
    margin: 0;
    padding: 0;
}

.home-page-content {
    margin-top: 50px;
    width: 100%;
    left: 0;
    right: 0;
}


.fetch-home {
    background-color: black;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campaign-explorer-home {
    color: black;
    background-color: white;
    height: 100vh;
    width: 100%;
}

.one-campaign-tile {
    border: 1px solid blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#campaign-picture-preview img {
    height: 150px;
}

.campaign-tile-link {
    text-decoration: none;
    color: inherit;
}

#learn-more-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    width: 80%;
}

#learn-more-text:hover {
    transform: translateX(10px);
}

#learn-more-text img {
    line-height: -100px;
}

.fetch-name-home {
    color: white;
    width: 17ch;
    animation: typing 2s steps(17), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 3rem;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
